
<!DOCTYPE html>
{% load static %}
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Domik</title>
    <link type = "text/css" rel = "stylesheet" href = "{% static "styles.css" %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="HomeButton">
        <a id="Domik" href="">Domik</a>
      </div>
      <div id="headerNav">
        <a class="haederbuttons"  href="/admin">admin</a>
        <a class="haederbuttons" href="">sign up</a>
        <a class="haederbuttons" href="">sign in</a>
      </div>
    </header>
    {% block content %}{% endblock %}
  </body>
</html>
