<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Online chat</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>
    <header>
      <div id="headbar">
        <a href="/" id="headerbutton">Online Chat</a>
      </div>
    </header>

    <div class="chat">
        {% block content %}{% endblock %}
    </div>
    <footer>
      <div id="formbckg">
        <form id="form" action="/" method="post">
          {% csrf_token %}

          <div id="nameform" >
            <p>Enter name:</p>
              <input type="text"  name="name" value="">
            </div>
            <div id="messageform">
              <textarea name="msgtext" rows="8" cols="80"></textarea>
              <input id="submit" type="submit" name="" value="Send">
            </div>
          </form>
        </div>
    </footer>
    </div>
  </body>
</html>
